/*
General Styling
*/
body {
    font-family: charter, apple chancery;
    font-weight: 400;
    background-color: #f1f1f1;
    color: #333;
    margin: 0;
}
a, a:visited {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #382977;
    
}

/* Hero */
#home .hero {
      background-image: url('images/margaritamainpic3.jpg');
      /*photo by http://www.foodchannel.com/media/uploads/_thumbs/classic-margarita1_png_1280x800_q85.jpg */

}
.hero {
    background-color: #222;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: auto;
}
.hero-card {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.10);
    color: #efefef;
    margin: 110px auto 60px auto;
    padding :50px;
    max-width: 960px;
    text-align: center;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.3);
}
.hero-card-title {
    font-family: charter, roman;
    margin: 0;
    font-size: 50px;
}
.hero-card-description {
    font-family: charter, roman;
    font-size: 30px;
    font-weight: 300;
    margin: 20px 0;
}
.hero-card-link {
    text-decoration: none;
    color: #efefef;
    font-size: 18px;
    border: 2px solid #efefef;
    border-radius: 18px;
    padding: 5px 20px;
    display: inline-block;
    transition: all 0.2s ease; 
}
.hero-card-link:hover {
    color: #D69E00;
    border-color: #D69E00;
}
/* Navigation */
.main-nav {
    margin: 20px auto;
    max-width: 960px;
    text-align: right;
}
a.nav-link {
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    font-size: 32px;
    font-family: Charter, roman;
    display: inline-block;
    margin: 10px 5px;
    padding: 0px 15px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.2s ease;
}
a.nav-link:hover {
    color: #382977;
    border-color: #8bb24c;
    background-color: #8bb24c;
}
/* Main content */
.main-content {
    margin: 50px auto;
    width: 960px;
}
.clear {
    clear: both;
}
   

